.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.TodoWrapper {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
}

h1 {
  color: #333;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px;
  background-color: burlywood;
  color: black;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: white;
}

.todo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo input[type="checkbox"] {
  margin-right: 10px;
}

.todo button {
  margin-left: 10px;
  background-color: white;
}

.todo button:hover {
  background-color: white;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.completed {
  text-decoration: line-through;
  color: white;
}

.Todo p {
  margin: 0;
  flex: 1;
}

.Todo div {
  display: flex;
  align-items: center;
}

.Todo div > * {
  margin-left: 5px;
  cursor: pointer;
}

svg {
  font-size: 20px;
  color: burlywood;
}
svg:hover {
  color: black;
}

.TodoWrapperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: burlywood;
}

.TodoWrapper {
  max-width: 300px;
  margin: 0 auto;
  padding: 15px;
  background-color: chocolate;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}
